
body{
    margin-left: 20px;
    margin-right: 20px;
  

}

.container{

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: aliceblue;
    margin-bottom: 30px;
    margin-left: 30px;
    height: 100vh;



  
}

.card{
    background-color: black;
    color: white;
    margin: 40px;
    padding: 40px;
    height: 20vh;
    width: 17vw;
    border-radius: 20px;
    font-size: 23px;
    justify-content: center;

}


.card:hover{
    box-shadow: 4px 4px 30px 5px red;
}




/*  this is a media quary */

@media  screen and (max-width:600px){
    .container{
    
        grid-template-columns: auto; 
        
    }

    
.card{
    background-color: black;
    color: white;
    margin: 40px;
    padding: 40px;
    height: 20vh;
    width: 17vw;
    border-radius: 20px;
    font-size: 13px;
    justify-content: center;

}

  
   
}


@media only screen and (min-width:600px){

    .container{
      
        grid-template-columns:  auto auto;  
        box-sizing: border-box; 
    }

    
.card{
    background-color: black;
    color: white;
    margin: 40px;
    padding: 40px;
    height: 20vh;
    width: 17vw;
    border-radius: 20px;
    font-size: 18px;
    justify-content: center;

}


    
}



@media    (min-width:768px) and  (min-width:968px) {

    .container{
      
        grid-template-columns:  auto auto auto;  
        box-sizing: border-box; 
    }


    
}